In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("movies.db")
df = pd.read_sql_query("SELECT * FROM ratingUrl", connection)
connection.close()

In [3]:
df.head()

,Name,ratingUrl,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten
0,Bright,http://www.imdb.com/title/tt5519340/ratings,1490,1070,1884,3023,6016,12017,18186,13603,5889,8952
1,Star Wars: Episode VIII - The Last Jedi,http://www.imdb.com/title/tt2527336/ratings,15770,5071,6266,7634,12898,23610,40925,54807,44344,44670
2,Jumanji: Welcome to the Jungle,http://www.imdb.com/title/tt2283362/ratings,497,165,228,434,1115,3537,8699,7865,3191,3844
3,The Greatest Showman,http://www.imdb.com/title/tt1485796/ratings,267,95,163,271,555,1269,2705,4592,4430,7974
4,Justice League,http://www.imdb.com/title/tt0974015/ratings,4311,1600,2799,4977,10834,21874,36310,31626,16045,31683