In [21]:
import sqlite3
import pandas as pd

In [22]:
connection = sqlite3.connect("movies.db")
df = pd.read_sql_query("SELECT * FROM ratingUrl", connection)
connection.close()

In [23]:
# Formats column names
df = df.drop(['trueScore','budget'], axis=1)
df.rename(columns={"true_Score": "trueScore"}, inplace=True)

In [24]:
df.head()
# TDO calculate raw score and add it as a column to dataframe

,Name,ratingUrl,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,weighedScore,trueScore
0,Bright,http://www.imdb.com/title/tt5519340/ratings,1490,1070,1884,3023,6016,12017,18186,13603,5889,8952,6.5,6.665689
1,Star Wars: Episode VIII - The Last Jedi,http://www.imdb.com/title/tt2527336/ratings,15770,5071,6266,7634,12898,23610,40925,54807,44344,44670,7.5,7.106200
2,Jumanji: Welcome to the Jungle,http://www.imdb.com/title/tt2283362/ratings,497,165,228,434,1115,3537,8699,7865,3191,3844,7.3,7.215622
3,The Greatest Showman,http://www.imdb.com/title/tt1485796/ratings,267,95,163,271,555,1269,2705,4592,4430,7974,8.0,7.648651
4,Justice League,http://www.imdb.com/title/tt0974015/ratings,4311,1600,2799,4977,10834,21874,36310,31626,16045,31683,7.0,6.889319