In [115]:
import sqlite3
import pandas as pd
import numpy as np

In [116]:
connection = sqlite3.connect("movies.db")
df = pd.read_sql_query("SELECT * FROM ratingUrl", connection)
connection.close()

In [117]:
# Renames true_budget to trueBudget
df = df.drop(['trueScore','budget'], axis=1)
df.rename(columns={"true_Score": "trueScore"}, inplace=True)

# Adds rawScore column
rawScore = [np.NaN]*1000
df["rawScore"]=rawScore

In [118]:
# Calculates rawScore
for i in df.iterrows():
    #print(i[1])
    totalVotes = i[1]["One"]+i[1]["Two"]+i[1]["Three"]+i[1]["Four"]+i[1]["Five"]+i[1]["Six"]+i[1]["Seven"]+i[1]["Eight"]+i[1]["Nine"]+i[1]["Ten"]
    if totalVotes!=0:
        rawScore = 1*(i[1]["One"]/totalVotes)+2*(i[1]["Two"]/totalVotes)+3*(i[1]["Three"]/totalVotes)+4*(i[1]["Four"]/totalVotes)+5*(i[1]["Five"]/totalVotes)+6*(i[1]["Six"]/totalVotes)+7*(i[1]["Seven"]/totalVotes)+8*(i[1]["Eight"]/totalVotes)+9*(i[1]["Nine"]/totalVotes)+10*(i[1]["Ten"]/totalVotes)
        df.set_value(i[0],"rawScore", rawScore)

#    print(rawScore)
#    print("-------------------")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [119]:
df.head()

,Name,ratingUrl,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,weighedScore,trueScore,rawScore
0,Bright,http://www.imdb.com/title/tt5519340/ratings,1490,1070,1884,3023,6016,12017,18186,13603,5889,8952,6.5,6.665689,6.962471
1,Star Wars: Episode VIII - The Last Jedi,http://www.imdb.com/title/tt2527336/ratings,15770,5071,6266,7634,12898,23610,40925,54807,44344,44670,7.5,7.106200,7.234997
2,Jumanji: Welcome to the Jungle,http://www.imdb.com/title/tt2283362/ratings,497,165,228,434,1115,3537,8699,7865,3191,3844,7.3,7.215622,7.473068
3,The Greatest Showman,http://www.imdb.com/title/tt1485796/ratings,267,95,163,271,555,1269,2705,4592,4430,7974,8.0,7.648651,8.409121
4,Justice League,http://www.imdb.com/title/tt0974015/ratings,4311,1600,2799,4977,10834,21874,36310,31626,16045,31683,7.0,6.889319,7.340802

In [120]:
# Goes through dataframe and removes movies which have less than 100 votes
print(len(df))

removalIndex = []
for i in df.iterrows():
    totalVotes = i[1]["One"]+i[1]["Two"]+i[1]["Three"]+i[1]["Four"]+i[1]["Five"]+i[1]["Six"]+i[1]["Seven"]+i[1]["Eight"]+i[1]["Nine"]+i[1]["Ten"]
    if totalVotes<1000:
        removalIndex.append(i[0])

# Iterates over list in reverse order and removes rows
for index in reversed(removalIndex):
    df = df.drop(df.index[index])
print(len(df))

1000
577

In [121]:
for i in df.iterrows():
    totalVotes = i[1]["One"]+i[1]["Two"]+i[1]["Three"]+i[1]["Four"]+i[1]["Five"]+i[1]["Six"]+i[1]["Seven"]+i[1]["Eight"]+i[1]["Nine"]+i[1]["Ten"]
    if totalVotes<100:
        print(totalVotes)

In [122]:
# TODO compare & analyze weighed/true/raw scores
(df["rawScore"]-df["trueScore"]).describe()

count    577.000000
mean      -0.189142
std        0.406469
min       -2.089481
25%       -0.364111
50%       -0.167693
75%       -0.022189
max        3.814745
dtype: float64